body {
    margin: 0px;
    font-family: 'Baloo 2', cursive;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

/* ----------------------NAV BAR---------------------- */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5% 35%;
}

.nav-wrapper > div {
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 5%;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* ----------------------NAV BAR---------------------- */


/* ------------------------ART------------------------ */

.art-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.art-item-wrapper {
    position: relative;
}

.art-img {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #c0c0c0;
}

.img-darken {
    transition: 1s;
    filter: brightness(40%);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
  
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
@media only screen and (max-width: 700px){
.modal-content {
      width: 100%;
}}


/* ------------------------ART------------------------ */

/* -----------------------ABOUT----------------------- */

.profile-content-wrapper {
    padding: 0px 30%;
}
.profile-content-wrapper h1 {
    color: #8a8a8a;
}

.links-wrapper {
    display: flex;
}

.links-wrapper > div {
    margin-right: 20px;
}

.logo-wrapper {
    padding-left: 50%;
}

/* -----------------------ABOUT----------------------- */

/* ---------------------PROJECTS---------------------- */

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
}

.project-icon-wrapper {
    padding-left: 75%;
}

.project-description-wrapper h1{
    color: #8a8a8a;
    margin: 0px;
}

.project-description-wrapper p{
    margin: 0px;
}

/* ---------------------PROJECTS---------------------- */
